<h1>Please log in</h1>
<form action="/" method="post">
    <div>
        Username:
        <input type="text" name="myusername">
    </div>
    <div>
        Password:
        <input type="password" name="mypassword">
    </div>
    <input type="submit">
</form>